#form-task {
    width: 100%;
    @include flexDisplay(row, normal);
    flex-wrap: wrap;
    margin-bottom: 40px;

    &-input {
        flex: 4 400px;
        padding: 15px 0;
        background: transparent;
        border: none;
        outline: none;
        color: $colorMain;
        box-shadow: inset 0 -10px $colorMain;
        transition: all .3s cubic-bezier(0.8, 0.885, 0.32, 1.275);
        
        &:focus {
            box-shadow: inset 0 -15px $colorMain;
        }
        &::placeholder {
            color: $colorMain;
        }

    }

    &-add, &-clearAll {
        flex: 1 80px;
        padding: 0;
        background: transparent;
        color: $colorMain;
        font-size: 0.9em;
    }
    
    &-add {
        box-shadow: inset 0 10px $colorGood;
        transition: all .3s cubic-bezier(0.8, 0.885, 0.32, 1.275);

        &:hover {
            box-shadow: inset 0 80px $colorGood;  
        }
    }

    &-clearAll {
        box-shadow: inset 0 -10px $colorBad;
        transition: all .3s cubic-bezier(0.8, 0.885, 0.32, 1.275);

        &:hover {
            box-shadow: inset 0 -80px $colorBad;
        }
    }
}