$mainFont: 'Montserrat-Regular';
$logoFont: 'Montserrat-ExtraBold';
$lightFont: 'Montserrat-Light';
$colorBad: #ff0000;
$colorGood: #32cd32;
$colorMain: #fff;
$colorItemShadow: #0000cd;
$colorDate: #00008b;
$colorUnActive: #c9c9c9;